@import "./../../theme/theme";

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 50px;
  width: 100%;
  padding: 0 20px;

  font-family: $logo-font;
  font-size: 24px;
  font-weight: bold;
  color: $on-secondary;
  text-transform: uppercase;

  background: $highlight;

  cursor: pointer;
}

header {
  position: fixed;
  top:0;
  z-index: 1;
  width: 100%;
  figure4.parallax-outer {
    display: block;
    .parallax-inner {
      height: 60vh;
    }
  }
   #logoWrapper {
     height: 60vh;
     display: grid;
     grid-template-columns: 66%;
     h1 {
       color: #ffffff;
       font-size: 3em;
       margin:0 auto;
       font-weight: 900;
       line-height: 40px;
       position:relative;
       text-transform: uppercase;
       width: 60vh;
      span {
         display: block;
         right: -50px;
         position:absolute;
       }
    }
   }
}