.rrssBar {
  left: -130px;
  margin:0;
  padding:0;
  position:fixed;
  transform: rotate(-90deg);
  text-transform: uppercase;
  top:45vh;
  .rrssItem {
    color: black;
    font-size:1.2em;
    float:left;
    margin:0;
    margin-right:5px;
    padding:0;
    text-decoration: none;
    &:focus, &:hover {
      color: red!important;
    }
    &:last-child {
      margin-right: 0;
    }
    &.divider:last-child {
      display:none;
    }
  }
}