.igFeedContainer {
  color: white;
  margin: 150px 15% 0;
  @media (min-width: 800px) {
    margin: 150px 15% 0 0%;
  }
  .igFeedDate {
  font-size: .8em;
  }
  .igFeedComment{
    font-size: 1.2em;
  }
}