
  .igFeed {
    display: grid;
    align-content: center;
    overflow-y: scroll;

    .igFeedContainer {
      overflow-y: scroll;
      h3 {
        font-size: 1em;
      }
      p{ font-size: 0.5em;}
    }
  }