body {
  font-family: $title-font-stack;
}
h1 {
  font-family: $title-font-stack;
}

a {
  color: #fff;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    color: #fff;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
