$titillium-web: 'Titillium Web', sans-serif;
$hammersmith-one: 'Hammersmith One', sans-serif;
$open-sSans: 'Open Sans', sans-serif;
$font-stack: $titillium-web;
$title-font-stack: $hammersmith-one;
$text-font-stack: $open-sSans;
$infames-color:#666;

// RRSS
$facebook-color:#4267b2;
$twitter-color:#38A1F3;
$youtube-color:#ED3833;
$instagram-color:#C13584;
$soundcloud-color:#ff8800;