@import "./../../theme/theme";

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 40px 40px 0;


  font-family: $core-font;
  font-size: 22px;
  color: $on-primary-light;

  position: fixed;
  top: 0;

  a {
    color: inherit;
    text-decoration: none;
    &:focus,
    &:hover {
      color: $highlight;
    }
  }

  .active {
    color: $highlight;
  }
  
}