@import "./../../theme/theme";
.navFooterWrapper{
  float: left;
  margin-right: 150px;
  h4 {
    margin:0 0 10px 0
  }
  .navContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
    margin:0;
    padding: 0;
    .navItem {
      list-style: none;
      margin:0;
      padding: 0;
    }
  }
}
