.shopSection {
  background-color: black;
  color: white;
  flex-direction: column;
  padding: 50px 0;
  text-align: center;
  h2{
    font-family: 'MonumentExtended-UltraBold', sans-serif;
    font-size:2em;
    text-transform: uppercase;
  }
  .productsWrapper{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    .productWrapper{
      padding: 0 20px;
      .shopButtonsWrapper {
        display: flex;
        justify-content: space-between;
        .shopButton {
          background-color: black;
          border: 1px solid #818181;
          color: white;
          display: block;
          text-decoration: none;
          &:first-child {
            padding: 10px 50px; 
          }
          &:last-child {
            padding: 10px 20px; 
          }
          &:hover {
            background-color: white;
            border-color: black;
            color: black;
          }
        } 
      }
    }
  }
}