@import "../theme/theme";
@font-face {
  font-family: 'MonumentExtended';
      src: url('/fonts/MonumentExtended-Regular.otf');
    }
@font-face {
  font-family: 'MonumentExtended-UltraBold';
      src: url('/fonts/MonumentExtended-UltraBold.otf');
    }
* {
  box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  border:0;
  vertical-align: middle;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

.Layout {
  height: 100%;
  width: 100%;

  .Content {

    font-family: $core-font;
    overflow: hidden;
    padding: 0;
    width: 100%;

    .home-part {
      display: flex;
      height: 99vh;
      overflow: hidden;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 66% 17%;
      
      
      @media (min-width: 800px) {
        grid-template-columns: 66% 20%;
      }

      .featuredIg {
        background-color: black;
        overflow: hidden;
        position: relative;
      }
    }

    a {
      color: inherit;
    }
  }
  footer {
    padding: 0 140px;
    p {
      clear:both;
      &.manager {
        margin-bottom: 100px;
        padding-top:80px;
      }
    }
  }
}